<div class="container">
  <div class="chart-container">
    <!-- Chart -->
        <ngx-charts-line-chart
        [scheme]="chartValues.colorScheme"
        [legend]="chartValues.legend"
        [showXAxisLabel]="chartValues.showXAxisLabel"
        [showYAxisLabel]="chartValues.showYAxisLabel"
        [xAxis]="chartValues.xAxis"
        [yAxis]="chartValues.yAxis"
        [xAxisLabel]="chartValues.xAxisLabel"
        [yAxisLabel]="chartValues.yAxisLabel"
        [timeline]="chartValues.timeline"
        [results]="data">
    </ngx-charts-line-chart>
  </div>
  <div class="values-container">
    <div id="current-value">
      <span> Current Value : {{current}} {{unit}} </span>
    </div>
    <!-- Table -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSortActive="name" matSortDirection="desc" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.name.toLocaleString()}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} {{unit}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </div>
</div>